In [1]:
# Python list

In [2]:
# tuple

In [7]:
# collection of element  ( sequential data type)
# immutable 
# call by object reference  ( change  )
# ()   => optional

x=10,20,"Abc","def"
print(type(x))

<class 'tuple'>

In [16]:
# single element,
x=10,
print(type(x))

<class 'tuple'>

In [15]:
mytuple=(10,20,30,40)

for i in mytuple:
    print(i)

10
20
30
40

In [20]:
mytuple=(10,20,30,40)

mytuple[-1:-3:-1]

(40, 30)

In [22]:
mytuple.count(3)

0

In [23]:
mytuple=10,20,30

In [25]:
print(id(mytuple))

1230734409152

In [30]:
mytuple=mytuple + (50,60)
print( id(mytuple))

1230734459504

In [31]:
# list vs tuple
# slower ( refer )

In [32]:
# dictionary
# collection of element but in form of key value pair
# key => unique identifier
# value  => unique / duplicate
# ordered in nature  ( Python 3)
# {}
# no index position

In [42]:
# 1:"tushar" => elemtn  ( 1=> key,  tushar => value)
mydictionary = { 1:"tushar", 2:"aman", "age":50}

In [44]:


mydictionary["age"]

50

In [47]:
#insert a new element
mydictionary[50]="yash"

mydictionary

{1: 'tushar', 2: 'aman', 'age': 50, 50: 'yash'}

In [49]:
mydictionary["abc"]="tiger"


mydictionary

{1: 'tushar', 2: 'aman', 'age': 50, 50: 'yash', 'abc': 'tiger'}

In [53]:
# mutuable

x=mydictionary.pop("abc")
print(x)

tiger

In [55]:
mydictionary

{1: 'tushar', 2: 'aman', 50: 'yash'}

In [57]:
mydictionary.popitem()

(50, 'yash')

In [60]:
mydictionary.values()

dict_values(['tushar', 'aman'])

In [63]:
mydictionary.keys()

dict_keys([1, 2])

In [65]:
mydictionary.items()

dict_items([(1, 'tushar'), (2, 'aman')])

In [69]:
x=( (1,"aman"),(2,"goa"))
dict(x)

{1: 'aman', 2: 'goa'}

In [71]:
x=[ (1,"aman"),(2,"goa") ]
dict(x)

{1: 'aman', 2: 'goa'}

In [73]:
mydictionary = { 1:"tushar", 2:"aman", "age":50}

In [74]:
mydictionary

{1: 'tushar', 2: 'aman', 'age': 50}

In [77]:
# it gives the key
for key in mydictionary:
    print(key)

1
2
age

In [78]:
for key in mydictionary.keys():
    print(key)

1
2
age

In [80]:
for key in mydictionary.keys():
    print(key)

1
2
age

In [83]:
for value in mydictionary.values():
    print(value)
    
mydictionary

tushar
aman
50

{1: 'tushar', 2: 'aman', 'age': 50}

In [87]:
x=[  (10,"naman") ,  (20,"abc") ]
for i in x:
    key,value=i

(10, 'naman')
(20, 'abc')

In [91]:
data=(10,"tushar")
x=data[0]
y=data[1]

In [97]:
# tuple unpacking
x,yy,z=(10,"tushar",20)
print(z)

20

In [99]:
x=[  (10,"naman") ,  (20,"abc") ]
for i in x:
    key,value=i
    print(key,value)

10 naman
20 abc

In [103]:
x=[  (10,"naman") ,  (20,"abc") ]

for tup in x:
    key,value=tup
    print(key,value)

10 naman
20 abc

In [105]:
x=[  (10,"naman") ,  (20,"abc") ]

for key,value in x:
    print(key,value)

10 naman
20 abc

In [109]:
mydictionary

{1: 'tushar', 2: 'aman', 'age': 50}

In [112]:
for key,value in mydictionary.items():
    print(key)

1
2
age

In [ ]:
# armstrong number
# 153
#
# 1**3 + 5**3   3**3
# 1+125+27 => 153